* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
  box-shadow: 1px 1px 10px #efefef;
  list-style: none;
}

.nav li a {
  margin: 0 16px;
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 20px;
}

.nav li a:hover {
  color: #555;
}

.nav li:nth-child(2) {
  border-left: 1px solid #ccc;
}

.flex {
  max-width: 1220px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
}

.profile-img {
  height: 300px;
  border-radius: 8px;
  margin-right: 24px;
}

.flex div {
  border: 1px solid #eee;
  padding: 16px;
  border-radius: 8px;
}

.flex h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 14px;
}

.flex p {
  font-size: 14px;
  line-height: 24px;
}

.video {
  margin: 12px 0;
  width: 100%;
  background-color: #333;

  display: flex;
  align-items: center;
  justify-content: center;
}

.video div {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-right: 32px;
}

footer {
  border-top: 1px solid #eee;
  box-shadow: 1px 1px 20px #efefef;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  height: 80px;
  font-weight: 700;
  font-size: 14px;
  padding: 0 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer i {
  font-size: 32px;
  margin: 8px;
}

form {
  max-width: 600px;
  padding: 32px;
  margin: 48px auto;
  border: 1px solid #eee;
  box-shadow: 1px 1px 20px #efefef;
}

form h1 {
  color: #666;
  margin-bottom: 24px;
}

form input {
  width: 100%;
  height: 52px;
  border-radius: 8px;
}

form textarea {
  width: 100%;
  height: 200px;
  resize: vertical;
}

form input[type="button"] {
  width: 100%;
  height: 52px;
  background-color: #7159c1;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 700;
}
